<div class="top-head">
   <div class="container">
        <div class="row">
            <div class="mx-auto">
                <div class="background-head">
                    <div class="text-center d-flex">
                        <div class="col-3">
                            <ul class="list-unstyled d-flex justify-content-evenly">
                                <li><a><i class="fa-brands fa-facebook ikcon"></i></a></li>
                                <li><a><i class="fa-brands fa-twitter ikcon"></i></a></li>
                                <li><a><i class="fa-brands fa-linkedin ikcon"></i></a></li>
                                <li><a><i class="fa-brands fa-pinterest ikcon"></i></a></li>
                                <li><a><i class="fa-brands fa-instagram ikcon"></i></a></li>
                                <li><a><i class="fa-brands fa-skype ikcon"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <ul class="list-unstyled d-flex justify-content-evenly">
                                <li class="text-decoration-none text-secondary"><a><i class="fa-solid fa-phone ikcon"></i>+916299271252</a></li>
                                <li class="text-decoration-none text-secondary"><a><i class="fa-brands fa-whatsapp ikcon"></i>+919852755455</a></li>
                                <li class="text-decoration-none text-secondary"><a><i class="fa-solid fa-envelope ikcon"></i>sndpkumar322@gmail.com</a></li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <ul class="list-unstyled d-flex justify-content-evenly">
                                <li><a class="btn btn-success">Sign-Up</a></li>
                                <li><a class="btn btn-secondary">Log-In</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>