<!-- About Us Start -->
<div class="about py-4">
    <div class="container">
      <div class="row">
        <div class="col-md-6 research">
         <img src="/assets/image/research.png" alt="research" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h5 class="text-success">Who We Are</h5>
          <h3>ABOUT US</h3>
          <div class="bottom-border border border-success" style="width: 75px;"></div>
            <p>Green Corner Advisory is the symbol of trust, prosperity and courage. We enable scalable growth by leveraging 
              stock market intelligence and analytics, 
              exercising judicious investment with risk appetite, operating effectively to deliver business outcome.</p>
            <div class="row">
              <div class="col-6">
                <div class="mission text-center">
                  <i class="fa-solid fa-chart-line fs-2 smissionicon"></i>
                  <h5>Mission</h5>
                  <p>To become the most preferred and most trusted, globally recognized stock market advisors.</p>
                </div>
              </div>
              <div class="col-6">
                <div class="vision text-center">
                  <i class="fa-solid fa-bullseye fs-2 smissionicon"></i>
                 <h5>Vision</h5>
                 <p>To provide low risk and high returns on customers investments in good financial products and services globally.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>   
  <!-- About Us End -->
  <!-- Why Us Start -->
  <div class="py-4 why">
    <div class="container">
      <div class="text-center">
            <div>
              <h5 class="text-success">Why</h5>
              <h3 class="whyus">Why Us</h3>
            </div>
          <div class="row ">
            <div class="text-center d-flex">
              <div class="col-md-4 mx-2 customer ">
                <div >
                <i class="fa-solid fa-user fs-2 smissionicon"></i>
                <p>We have a customer-centric approach to solve all the investment-related queries</p>
                </div>
              </div>
              <div class="col-md-4 mx-2 customer ">
                <div >
                  <i class="fa-solid fa-chart-simple fs-2 smissionicon"></i>
                <p>13+ Years of experience in technical and fundamental research with more than 2000 hours of research.</p>
                </div>
              </div>
              <div class="col-md-4 mx-2 customer ">
                <div >
                  <i class="fa-solid fa-gear fs-2 smissionicon"></i>
                <p>In-depth analysis of trading charts for the generation of stock market signals</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
 </div> 
  <!-- Why Us End -->
  <!-- Who Is Start -->
  <div class="py-4">
    <div class="container">
     <div class="text-center">
      <h5 class="text-success text-center">Who Is </h5>
      <h3 class="who text-center">WHO IS THIS FOR</h3>
     </div>
     <div class="row">
          <div class="col-md-6 col-lg-5">
              <img src="/assets/image/graph.jpg" alt="graph"  class="graph">
          </div>
          <div class="col-6 client col-lg-7">
          <ul >
            <li>Clients seeking low risk on their investment made.</li>
            <li>Clients who are not able to manage their funds on their own.</li>
            <li>Clients who require short and long term investment products.</li>
            <li>Clients expecting good returns on their investments in less time span.</li>
          </ul>
      </div>
     </div>
    </div>
  </div>
  <!-- Who Is End -->
  <!-- Offer Start -->
  <div class="py-4" style="background-color: #f9f9f9;">
    <div class="container">
     <div class="text-center"> 
      <h4 class="text-success">Offer</h4>
      <h2>WHAT WE OFFER</h2>
     </div>
     <div class="row">
      <div class="d-flex text-center">
        <div class="col-md-4 mx-2 equity">
          <div class="smissionicon">
            <i class="fa-solid fa-file fs-2"></i>
          </div>
          <h3>Equity</h3>
          <p>Equity here refers to cash and derivative stocks and indices which are traded on national exchanges of India.Investment in equity market is preffered by both traders and investors</p>
        </div>
        <div class="col-md-4 mx-2 equity">
          <div class="smissionicon">
           <i class="fa-solid fa-chart-column fs-2"></i>
          </div>
          <h4>MCX COMMODITY</h4>
          <p>MCX refers to Multi Commodity Exchange in which Bullions (Gold & Silver),Base Metals (Aluminium, Copper, Lead, Nickel & Zinc) and Energy (Crude Oil & Natural Gas) is traded.</p>
        </div>
        <div class="col-md-4 mx-2 equity">
          <div class="smissionicon">
            <i class="fa-solid fa-message fs-2"></i>
          </div>
          <h3>PMS</h3>
          <p>PMS here refers to Profile Management Service which is an exclusive product designed for the customers who are busy in their day to day activities and require core investment assistance on time to time basis.</p>
        </div>
      </div>
      <div class="row">
        <div class="d-flex text-center">
          <div class="col-md-4  ncdex">
            <div class="smissionicon">
              <i class="fa-solid fa-signal fs-2"></i>
            </div>
            <h3>NCDEX</h3>
            <p>NCDEX refers to National Commodity and Derivatives Exchange in which agricultural commodity derivatives such as Chana, Soyabean, Refined Soya Oil, Dhaniya, Jeera etc is traded.</p>
          </div>
          <div class="col-md-4 ncdex">
            <div class="smissionicon">
              <i class="fa-solid fa-dollar-sign fs-2"></i>
            </div>
            <h3>FOREX</h3>
            <p>FOREX here refers to Foreign Exchange which basically is a product designed for traders who trade global CFD's of major currencies such as EURUSD, GBPUSD, USDJPY, AUDUSD, USDCAD, NZDUSD & USDCHF and commodities such as Gold, Silver & Crude Oil.</p>
          </div>
          <div class="col-md-4  ncdex">
            <div class="smissionicon">
              <i class="fa-solid fa-indian-rupee-sign fs-2"></i>
            </div>
            <h3>CURRENCY</h3>
            <p>Currency here refers to the currency derivatives of USDINR, EURINR, GBPINR, JPYINR, EURUSD, GBPUSD, USDJPY which is traded and hedged in national stock exchanges of India.</p>
          </div>
        </div>
      </div>
     </div>
    </div>
  </div>
  <!-- Offer End -->
  <!-- Work Start -->
  <div class="py-4">
    <div class="container">
      <div class="text-center">
        <h5 class="text-success">Work</h5>
        <h3>HOW IT WORKS</h3>
      </div>
      <div class="row">
        <div class="col-md-3 text-center">
          <div class="watch">
            <i class="fa-regular fa-clock fs-3 smissionicon"></i>
          <p>Time and tested signal generation models</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="watch">
            <i class="fa-solid fa-headphones fs-3 smissionicon"></i>
            <p>Client support and query resolution on a real time basis</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="watch">
            <i class="fa-solid fa-rotate fs-3 smissionicon"></i>
            <p>Dedicated NISM Certified Research Team</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="box">
              <i class="fa-solid fa-box-archive fs-2 smissionicon"></i>
            <p>Customized products as per risk profiling and return requirements of clients</p>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <!-- Work End -->
  <!-- Client Start -->
  <div class="py-4" style="background-color: #f9f9f9;">
    <div class="container">
      <div class="text-center">
         <h5 class="text-success">Clients</h5>
         <h3>THEY TRUSTED US</h3>
      </div>
    </div>
    <div class="text-center">
      <div class="carousel-slide">
        <div class="carousel-inner">
          <div class="py-3 clientimage">
            <img src="/assets/image/testimonials1a.jpg" alt="Image01" class="position-absolute rounded-circle shadow start-50 translate-middle" style="height: 70px; width: 70px;">
           <div class="py-5">
            <p>"I am a beginner in this trading and investment world, but the way these guys have
              helped me in my learning and providing the best research calls is extraordinary.
              Got a good profit in less time, I have recommended this company to my friends
              as well."</p>
              <p class="text-success fs-5">PRASHANT</p>
              <i class="fa-solid fa-location-dot"></i>
              <h6>New-Delhi</h6>
           </div>
          </div>
        </div>
        </div>
      </div>
  </div> 
  <!-- Client End -->
  <!-- Help Start -->
  <div class="py-4">
    <div class="container">
      <div class="text-center">
        <h6 class="text-success">Need Help?</h6>
        <h3>GET A CALL BACK FROM OUR EXPERTS</h3>
      </div>
      <div class="row">
        <div class="col-md-5">
         <div class="information">
           <div class="address">
             <i class="fa-solid fa-location-dot contactinfo"></i>
             <h5 class="location">LOCATION:</h5>
             <p>Green Corner Advisory, Sharjapur, Bangalore - 562125</p>
           </div>
           <div class="email">
            <a href="">
              <i class="fa-solid fa-envelope contactinfo"></i>
              <h5 class="location">EMAIL:</h5>
              <p>info@greencorneradvisory.com</p>
            </a>
           </div>
           <div class="phonecall">
            <a href="">
              <i class="fa-solid fa-square-phone contactinfo"></i>
              <h5 class="location">CALL:</h5>
              <p>+91 9122442032</p>
              </a>
           </div>
           <div class="whatsupp">
            <a href="">
              <i class="fa-brands fa-square-whatsapp contactinfo"></i>
              <h5 class="location">WHATS Up:</h5>
              <p>+91 9122442032</p>
              </a>
           </div>
         </div>
        </div>
        <div class="col-md-7">
          <div class="information-2">
            <div class="namesection mt-3">
              <input type="text" placeholder="Your Name" class="rounded-5 border border-success p-3 mx-5 border-opacity-25">
              <input type="email" placeholder="Your Email" class="rounded-5 border border-success p-3 mx-5 border-opacity-25">
            </div>
            <div class="namesection mt-3 d-flex">
              <div class="select2">
                <input type="number" placeholder="Your Number" class="rounded-5 border border-success p-3 mx-5 border-opacity-25">
              </div>
              <div class="select3">
                <select class="select4 rounded-5 border border-success p-2 mx-4 border-opacity-25" style="font-size: small; color: rgb(51, 51, 51);">
                  <option value="0">Select Service</option>
                  <option value="INTRADAY TIPS">INTRADAY TIPS</option>
                  <option value="STOCK OPTIONS">STOCK OPTIONS</option>
                  <option value="NIFTY TIPS">NIFTY TIPS</option>
                  <option value="HNI EQUITY">HNI EQUITY</option>
                  <option value="COMMODITY PACK">COMMODITY PACK</option>
                  <option value="BASE METALS PACK">BASE METALS PACK</option>
                  <option value="BULLION METALS PACK">BULLION METALS PACK</option>
                </select>
              </div>
            </div>
            <div class="message mt-2">
               <textarea class="form-control rounded" placeholder="Message" name="message" rows="4" required></textarea>
            </div>
            <div class="text-center mt-3">
              <button class="btn btn-success">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <!-- Help End -->
  <!-- Capital Start -->
  <div class="py-3" style="background-color: #f9f9f9;">
    <div class="text-center">
      <div class="container">
       <div class="row">
        <div class="col-lg-11 m-auto">
          <p style="font-size: 13px;font-weight: 400; letter-spacing: 0.5px;line-height: 22px;">Green Corner Advisory is the symbol of trust, prosperity and courage. 
            We enable scalable growth by leveraging stock market intelligence and analytics, 
            exercising judicious investment with risk appetite, operating effectively to deliver business outcome. 
            We also believe that the people entering into stock market are aware of the risk and returns involved with 
            investment in stock market. And with our time and tested financial models to generate high quality signals we 
            ensure that the investment made by the clients grow by the leaps and bounds for their prosperity. 
            This makes us complete stock market advisors.</p>
         </div>
         <div class="col-lg-5">
         <!-- <h4 style="text-align: center;">CAPITAL @ RISK</h4>-->
         </div>
         <div class="row mt-3 footer">
          <div class="col-lg-11">
            <h4>CAPITAL @ RISK</h4>
          </div>
          <p class="py-3">With investment, your capital is at risk. 
            Investing/Trading is subject to market risk. Please read all the documents before investing.</p>
         </div>
         <div class="col-lg-1 dummy">
          <!--<h4>This is dummy tag</h4>-->
         </div>
       </div>
      </div>
    </div>
  </div> 
  <!-- Capital End -->
