<ngb-carousel>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="/assets/image/Banner_1.jpg" class="banner-image" alt="Random first slide" />
		</div>
		<div class="carousel-caption">
			<div class="row">
				<div class=" col-md-7">
					<p>One click access to independent</p>
					<h3>Research and Trading<br> oppurtinities<br/></h3>
					<a type="button" class="buton-hire">Hire an Expert</a>
				</div>
				<div class="clock-watch col-md-5">
					<img src="/assets/image/stock-clock.png" alt="stock-watch" class="stock-watch01" />
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="/assets/image/Banner_2.jpg" class="banner-image" alt="Random second slide" />
		</div>
		<div class="carousel-caption">
			<div class="row">
				<div class=" col-md-7">
					<p>One click access to independent</p>
					<h3>Research and Trading<br> oppurtinities<br/></h3>
					<a type="button" class="buton-hire">Hire an Expert</a>
				</div>
				<div class="clock-watch col-md-5">
					<img src="/assets/image/stock-clock.png" alt="stock-watch" class="stock-watch01" />
				</div>
			</div>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="/assets/image/Banner_3.jpg" class="banner-image" alt="Random third slide" />
		</div>
		<div class="carousel-caption">
			<div class="row">
				<div class="col-md-7">
					<p>One click access to independent</p>
					<h3>Research and Trading<br> oppurtinities<br/></h3>
					<a type="button" class="buton-hire">Hire an Expert</a>
				</div>
				<div class="clock-watch col-md-5">
					<img src="/assets/image/stock-clock.png" alt="stock-watch" class="stock-watch01" />
				</div>
			</div>
		</div>
	</ng-template>
</ngb-carousel>
<marquee behavior="" direction="" class="py-2">
	Investment &amp; trading in securities market is always subjected to market risks, past performance is not a guarantee
	of future performance.  Green Corner Advisory (Investment Advisor) do not provide any Assured/ Guaranteed Return/
	Profit services, any Profit Sharing services, and Services which are not mentioned in company website, Please
	beware of fraud calls/sms.
</marquee>