<div class="py-3 bg-dark">
    <div class="container">
      <div class="d-flex text-light">
        <div class="col-md-3">
          <div class="d-flex">
            <img src="/assets/image/footer_logo.png" alt="footer_image" style="height: 100px;width: 160px;">
          </div>
          <p>Green Corner Advisory is the symbol of trust, prosperity and courage.</p>
          <div class="py-2">
            <h4>Follow Us On</h4>
            <div class="py-3">
              <div class="row">
                <div class="col-11 d-flex">
                  <div class="sociallink1">
                    <a>
                      <i class="fa-brands fa-twitter text-light socialbox"></i>
                    </a>
                  </div>
                  <div class="sociallink1">
                    <a>
                      <i class="fa-brands fa-facebook text-light" style="background-color: #007a14;"></i>
                    </a>
                  </div>
                  <div class="sociallink1">
                    <a>
                      <i class="fa-brands fa-instagram text-light" style="background-color: #007a14;"></i>
                    </a>
                  </div>
                  <div class="sociallink1">
                    <a>
                      <i class="fa-brands fa-whatsapp text-light" style="background-color: #007a14;"></i>
                    </a>
                  </div>
                  <div class="sociallink1">
                    <a>
                      <i class="fa-brands fa-linkedin text-light" style="background-color: #007a14;"></i>
                    </a>
                  </div>
                </div>
                <div class="col-1"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center mt-4 footer_header">
            <h6>UseFull Links</h6>
            <ul class="footer-link">
              <li class="d-flex">
                <i class="bx fa-solid fa-chevron-right fa-xs"></i>
                <a>Home</a>
              </li>
              <li class="d-flex">
                <i class="bx fa-solid fa-chevron-right fa-xs"></i>
                <a>About Us</a>
              </li>
              <li class="d-flex">
                <i class="bx fa-solid fa-chevron-right fa-xs"></i>
                <a>Research</a>
              </li>
              <li class="d-flex">
                <i class="bx fa-solid fa-chevron-right fa-xs"></i>
                <a>Services</a>
              </li>
              <li class="d-flex">
                <i class="bx fa-solid fa-chevron-right fa-xs"></i>
                <a>Disclaimer</a>
              </li>
              <li class="d-flex">
                <i class="bx fa-solid fa-chevron-right fa-xs"></i>
                <a>Privacy policy</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center mt-4 footer-service">
            <h6>Our Services</h6>
                <ul>
                  <li class="d-flex">
                    <i class="bx fa-solid fa-chevron-right fa-xs"></i>
                    <a>Equity Cash</a>
                  </li>
                  <li class="d-flex">
                    <i class="bx fa-solid fa-chevron-right fa-xs"></i>
                    <a>Stock Options</a>
                  </li>
                  <li class="d-flex">
                    <i class="bx fa-solid fa-chevron-right fa-xs"></i>
                    <a>Bank Nifty</a>
                  </li>
                  <li class="d-flex">
                    <i class="bx fa-solid fa-chevron-right fa-xs"></i>
                    <a>Stock Future</a>
                  </li>
                  <li class="d-flex">
                    <i class="bx fa-solid fa-chevron-right fa-xs"></i>
                    <a>Commodity</a>
                  </li>
                  <li class="d-flex">
                    <i class="bx fa-solid fa-chevron-right fa-xs"></i>
                    <a>Delivery</a>
                  </li>
                </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="text-center mt-4">
             <h6>Contact</h6>
             <div class="footer-contact">
              <div class="d-flex text-start mt-2">
                <i class="fa-solid fa-location-dot mx-2"></i>
                <p class="footer_address">Green Corner Advisory, Sharjapur, Bangalore - 562125</p>
               </div>
               <div class="d-flex text-start mt-2 phone">
                <i class="fa-solid fa-phone-volume mx-2"></i>
                <a ><p class="footer_phone">+91 9122442032</p></a>
               </div>
               <div class="d-flex text-start mt-2 phone">
                <i class="fa-regular fa-envelope mx-2"></i>
                <a ><p class="footer_phone">info@greencorneradvisory.com</p></a>
               </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <!-- Footer Bottom Start -->
  <div class="py-3">
    <div class="container">
      <div class="text-center">
        <p class="text-secondary">&copy;Copyright 2022<strong class="text-success">Green Corner Advisory</strong>.All rights Reserved</p>
      </div>
    </div>
  </div> 
  <!-- Footer Bottom End -->